@font-face { font-family: Kodchasan; src: url('/fonts/Kodchasan-Regular.ttf'); } 
@font-face { font-family: ChalkPaint; src: url('/fonts/ChalkPaint.ttf'); } 

* {
  background-color: rgb(221, 255, 241);
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: red;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-image: linear-gradient(
    135deg, 
    #46EB57,
    #8CF974,
    #3FF567,
    #3BFE95
    );
}

.content p{
  font-family: 'Kodchasan';
  background-color: transparent;
  padding: 50px;
}

header {
  background-color: #16C031;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  height: 100px;
}

header p {
  background-color: inherit;
  font-family: 'Kodchasan';
}

header h1{
  font-family: 'ChalkPaint';
  white-space: nowrap;
  background-color: inherit;
  color:white;
  font-size: 30px;
}

header a {
  display: flex;
  height: 100%;
  padding-inline: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  text-decoration: none;
  background-color: inherit;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: inherit;
  padding-inline: 20px;
  width: 70%;
  height: 100%;
}
nav a:hover{
  background-color:darkblue;
  color: white;
}
nav a:hover p{
  color: white;
}

#logo{
  display: flex;
  align-items: flex-start;
  user-select: none;
  gap: 10px;
  background-color: inherit;
}

#logo img{
  margin-top: 10px;
  width: 50px;
  height: 50px;
  background-color: inherit;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 10px;
  padding-inline: 100px;
  height: 100px;
}

footer img{
  width: 80px;
  height: 80px;
}

footer p,h1{
  font-family: 'Kodchasan';
  font-size: 12px;
  background-color: inherit;
  text-align: center;
  max-width: 200px;
  max-height: 50px;
  overflow: hidden;
}