@font-face {
  font-family: Kodchasan;
  src: url("../fonts/Kodchasan-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: ChalkPaint;
  src: url("../fonts/ChalkPaint.ttf") format("truetype");
}
@font-face {
  font-family: KirangHaerang;
  src: url("../fonts/KirangHaerang-Regular.ttf") format("truetype");
}

html,
body {
  width: 100%;
  height: 100%;
  min-width: 500px;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.figura img {
  width: 100%;
  height: auto;
}

.content {
  display: flex;
  flex-direction: column;

  flex-grow: 1;
  align-items: center;
  width: 100%;
  background-image: linear-gradient(
    135deg,
    #46eb57,
    #8cf974,
    #3ff567,
    #3bfe95 150%
  );
  background-repeat: no-repeat;
}

.content .home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 100%;
  min-width: 90%;
  margin: 50px;
}

.texto {
  flex: 1;
  min-width: 50%;
  max-width: 500px;
}

#content_image {
  width: 400px;
  height: auto;
  border-radius: 20px;
}

.texto p,
.texto h2 {
  text-align: center;
  font-family: "Kodchasan";
}

#textotitulo {
  font-size: 20px;
}

header {
  background-color: #16c031;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
}

#logo {
  display: flex;
  align-items: center;
}

#logo img {
  width: 50px;
  height: 50px;
  margin-top: 5px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  padding-inline: 20px;
  width: 70%;
  overflow-x: auto;
}

nav a {
  display: flex;
  height: 100px;
  padding-inline: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  text-decoration: none;
  background-color: inherit;
}

header p {
  font-family: "Kodchasan";
}

header h1 {
  font-family: "ChalkPaint";
  white-space: nowrap;
  color: white;
  font-size: 30px;
}

header a {
  display: flex;
  height: 100px;
  padding-inline: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  text-decoration: none;
  background-color: inherit;
}

nav a:hover {
  background-color: darkblue;
  color: white;
}

nav a:hover p {
  color: white;
}

#logo {
  display: flex;
  align-items: flex-start;
  user-select: none;
  gap: 10px;
  background-color: inherit;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  padding: 10px;
  padding-inline: 100px;
  height: 100px;
  background-color: white;
}

footer img {
  width: 80px;
  height: 80px;
}

footer p,
footer h2 {
  font-family: "Kodchasan";
  font-size: 12px;
  background-color: inherit;
  text-align: center;
  max-width: 200px;
  max-height: 50px;
  overflow: hidden;
}

.containerCURSOS {
  height: 100%;
  width: 80%;
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.caixa-topo {
  background-color: #16c031;
  color: rgb(0, 0, 0);
  height: 40px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 30px;
}

.caixa-topo p {
  font-family: "Kodchasan";
  font-size: 16px;
}

.curso-box {
  width: 250px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: 20px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: white;
  border: 3px solid #000;
  border-radius: 10px;
  font-family: "Kodchasan";
}

.curso-titulo {
  font-size: 18px;
}
.curso-lista {
  list-style: "🖊️";
  padding: 0px;
}

.curso-lista li {
  text-align: left;
  font-size: 15px;
  margin: 0px;
  padding-left: 10px;
}

.ex-box {
  width: 250px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1.5%;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid #000;
  border-radius: 5px;
  font-family: "Kodchasan";
}
.ex-box:hover {
  background-color: blue;
  border: 1px solid #ffffff;
  color: white;
}

.ex-titulo {
  font-size: 12px;
}

#exbox {
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#exH {
  background-color: transparent;
  font-family: "Kodchasan";
}

.containerEX {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contato {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  height: 100%;
  gap: 20px;
  margin-bottom: 50px;
  font-size: 24px;
}

.contato p,
.contato h2 {
  font-size: 33px;
  font-family: "KirangHaerang";
  font-size: 40px;
}

.contato input,
.contato textarea {
  font-family: "Kodchasan";
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #000;
  padding-left: 10px;
}
.contato textarea {
  height: 100px;
  resize: none;
}

#cttemail {
  display: flex;
  justify-content: space-around;
}

#textovideoaula {
  font-size: 15px;
  font-family: "Kodchasan";
  text-align: center;
  background-color: transparent;
}

.containerVD {
  display: flex;
  width: 80%;
  height: 100%;
  align-self: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
}

#videos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}
#videos iframe {
  width: 400px;
  height: 300px;
}

.search-container {
  width: 30%;
  min-width: 200px;
  padding: 10px;
  text-align: center;
}

.search-container h3 {
  text-align: inherit;
  font-family: "Kodchasan";
}

.search-container input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box;
}

.vestibular {
  height: 100%;
  width: 80%;
  margin: 20px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  font-family: "Kodchasan";
  text-align: center;

  border: 1px solid green;
  border-radius: 20px;
}

.vestibular #title {
  font-size: 30px;
  color: white;
  text-shadow: -1px 3px 8px rgba(0, 0, 0, 0.6);
  width: fit-content;
  padding-left: 50px;
  border-radius: 20px;
}

.materias {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
}

.materias ol,
.materias ul {
  width: 200px;
  margin: 40px;
  padding: 0px;
}

/* Estilos para a lista */
ul#itemListaTarefas li {
  position: relative;
  background-color: #f2f2f2;
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
  margin-left: -40px;
  overflow: hidden;
}

ul#itemListaTarefas p {
  overflow: hidden;
}

ul#itemListaTarefas li .close {
  margin-left: auto;
  padding: 4px;
  cursor: pointer;
  color: #000;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
}

ul#itemListaTarefas li .close:hover {
  background-color: #ddd;
}

ul#itemListaTarefas li span {
  margin-right: 8px;
}

.clear-button {
  font-family: "Kodchasan";
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #000;
  padding-left: 10px;
}

#limpa{
  display: flex;
  width: 100%;
  justify-content: end;
}

#botaoPesquisar, #botaoCancelar{
  font-family: "Kodchasan";
  width: auto;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #000;
  padding-left: 10px;
}

#barraPesquisa{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
}

#caixaPesquisa {
  font-family: "Kodchasan";
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #000;
}

.escondido {
  display: none;
}

#containerLista {
  font-family: "Kodchasan";
  font-size: 20px;
  text-align: center;
  padding: 20px;
  border: 1px solid green;
  border-radius: 20px;
  width: 80%;
  margin-bottom: 40px;
}

#listadeContato {
  font-family: "Kodchasan";
  font-size: 35px;
}