@font-face { font-family: Kodchasan; src: url('fonts/Kodchasan-Regular.ttf'); } 
@font-face { font-family: ChalkPaint; src: url('fonts/ChalkPaint.ttf'); } 

* {
  background-color: rgb(221, 255, 241);
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

nav {
  background-color: #16C031;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  height: 100px;
}

.nav-items{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: inherit;
  padding-inline: 20px;
  height: 100%;
}
.nav-items a:hover{
  background-color:darkblue;
  color: white;
}
.nav-items a:hover p{
  color: white;
}

nav p {
  background-color: inherit;
  font-family: 'Kodchasan';
}

nav h1{
  font-family: 'ChalkPaint';
  white-space: nowrap;
  background-color: inherit;
  color:white;
  font-size: 30px;
}

nav a {
  display: flex;
  height: 100%;
  padding-inline: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  text-decoration: none;
  background-color: inherit;
}

#logo{
  display: flex;
  align-items: flex-start;
  user-select: none;
  gap: 10px;
  background-color: inherit;
}

#logo img{
  margin-top: 10px;
  width: 50px;
  height: 50px;
  background-color: inherit;
}