@font-face {
  font-family: Kodchasan;
  src: url("/fonts/Kodchasan-Regular.ttf");
}
@font-face {
  font-family: ChalkPaint;
  src: url("/fonts/ChalkPaint.ttf");
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(135deg, #46eb57, #8cf974, #3ff567, #3bfe95);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container2 {
  text-align: center;
  background-image: inherit;
}

div h1 {
  background-image: inherit;
  font-family: "Kodchasan";
}

div p {
  background-image: inherit;
  font-family: "Kodchasan";
}

.texto {
  display: inline-block;
  width: 48%;
  vertical-align: top;
  margin-right: 10px;
  background-image: inherit;
}

.figura {
  display: inline-block;
  width: 48%;
  vertical-align: top;
  background-image: inherit;
}

.figura img {
  width: 100%;
  height: auto;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;  
}

.content p {
  font-family: "Kodchasan";
  background-color: transparent;
  padding: 50px;
}

header {
  background-color: #16c031;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  height: 100px;
}

header p {
  background-color: inherit;
  font-family: "Kodchasan";
}

header h1 {
  font-family: "ChalkPaint";
  white-space: nowrap;
  background-color: inherit;
  color: white;
  font-size: 30px;
}

header a {
  display: flex;
  height: 100%;
  padding-inline: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  text-decoration: none;
  background-color: inherit;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: inherit;
  padding-inline: 20px;
  width: 70%;
  height: 100%;
}
nav a:hover {
  background-color: darkblue;
  color: white;
}
nav a:hover p {
  color: white;
}

#logo {
  display: flex;
  align-items: flex-start;
  user-select: none;
  gap: 10px;
  background-color: inherit;
}

#logo img {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  background-color: inherit;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 10px;
  padding-inline: 100px;
  height: 100px;
  background-color: white;
}

footer img {
  width: 80px;
  height: 80px;
}

footer p,
h1 {
  font-family: "Kodchasan";
  font-size: 12px;
  background-color: inherit;
  text-align: center;
  max-width: 200px;
  max-height: 50px;
  overflow: hidden;
}

.caixa-topo {
  background-color: #16c031;
  color: white;
  text-align: center;
  position: relative;
  height: 40px;
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.caixa-topo p {
  font-family: "Kodchasan";
  font-size: 16px;
}

.curso-box {
  width: 30%;
  display: inline-block;
  margin: 0 1.5%;
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
  background-color: white;
  border: 3px solid #000;
  border-radius: 10px;
}

.curso-titulo {
  font-size: 18px;
  background-color: inherit;
}

.curso-lista {
  list-style-type: disc;
  padding-left: 20px;
  background-color: inherit;
}
.curso-lista li {
  background-color: inherit;
}

.contato{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  width: 50%;
  font-size: 24px;
}